# 主客户端域名
CLIENT_DOMAIN=client.yourdomain.com

# 图片资源域名
IMAGE_DOMAIN=image.yourdomain.com

# WebSocket 域名
RELAY_DOMAIN=relay.yourdomain.com
CLIENT_RELAY_DOMAIN=client.relay.yourdomain.com

# 其他功能域名
GAME_DOMAIN=game.yourdomain.com
GO_DOMAIN=go.yourdomain.com
MEDIA_DOMAIN=media.yourdomain.com

# Let's Encrypt 注册邮箱
CERT_EMAIL=admin@yourdomain.com
